<h2>Welcome to the Platform!</h2>
<p>Hello <%= @user.email %>,</p>

<p>Your account has been created by the Admin.</p>

<p><strong>Email:</strong> <%= @user.email %><br>
<strong>Password:</strong> <%= @password %></p>

<p>Please login and change your password after your first login.</p>

<p>Regards,<br>The Team</p>
